PORT="4998"

MYSQL_DSN="develop:Hkvsot1JKMPl@tcp(mr-xsapduzc7lpz52syx3.rwlb.singapore.rds.aliyuncs.com:3306)/exchange?charset=utf8mb4&parseTime=True&loc=Local"

REDIS_ADDR="r-gs5sls7dyrb1rwmjzu.redis.singapore.rds.aliyuncs.com:6379"
REDIS_USER="r-gs5sls7dyrb1rwmjzu"
REDIS_PW="uXE31qa4"
REDIS_DB="0"

ES_URL="http://es-sg-jiy45rp8u000c6jkc.elasticsearch.aliyuncs.com:9200"
ES_USERNAME="elastic"
ES_PASSWORD="e&QFu110"

KAFKA_BROKERS="alikafka-post-public-intl-sg-jiy45rtfa0s-1-vpc.alikafka.aliyuncs.com:9092,alikafka-post-public-intl-sg-jiy45rtfa0s-2-vpc.alikafka.aliyuncs.com:9092,alikafka-post-public-intl-sg-jiy45rtfa0s-3-vpc.alikafka.aliyuncs.com:9092"

CLICKHOUSE_ADDR="cc-gs5ty3b03985bo5hx.clickhouse.ads.aliyuncs.com:3306"
CLICKHOUSE_DB="default"
CLICKHOUSE_USER="develop"
CLICKHOUSE_PASSWORD="Kir3LwZNXv4e"
CLICKHOUSE_DIAL_TIMEOUT="10"
CLICKHOUSE_MAX_OPEN_CONNS="10"
CLICKHOUSE_MAX_IDLE_CONNS="5"
CLICKHOUSE_CONN_MAX_LIFETIME="3600"

SESSION_SECRET="setOnProducation"
GIN_MODE="debug"
LOG_LEVEL="debug"

JWT_SECRET="MytokenAI-E4jU9Qf7tFVqB2UCuzcvJHvRCCd38srhJi0ZWygmLyUUqjnqA2EqgrWxExR22d5FHfLbauXeBjpGk5u8JM"

SOLANA_RPC_URL="https://mainnet.helius-rpc.com/?api-key=af28529b-dcc1-412c-950b-457711a19b60"

BLOCKCHAIN_API_ENDPOINT="http://172.16.21.134:3100"

BIRDEYE_API_KEY="62c411e723204b6fadfafff997d67e47"

GMINT_ADDRESS=ZziTphJ4pYsbWZtpR8TaHy2xDqbNyf8yEp5d5jvpump
AMM_ADDRESS=4ZaJqcDxgCCMpBL6TiAz6A8H8zQ6imas4eMs3Hk4ra52
MARKET_ADDRESS=75dsjBhyyMsbEoqhgQGCdunYDrgmmPSmBDinnzqVL9Hv
GAMM_ADDRESS=4ZaJqcDxgCCMpBL6TiAz6A8H8zQ6imas4eMs3Hk4ra52
GMARKET_ADDRESS=75dsjBhyyMsbEoqhgQGCdunYDrgmmPSmBDinnzqVL9Hv

VAULT_ADDRESS=6TsxMmy5SsTGrG5FiC5A3UKLAKpCAUJs4YxteHFxV8xk
TOKEN_ADDRESS=8iFREvVdmLKxVeibpC5VLRr1S6X5dm7gYR3VCU1wpump
