MYSQL_DSN="root:root@tcp(127.0.0.1:3306)/jupiter-perps?charset=utf8&parseTime=True&loc=Local"

REDIS_ADDR="127.0.0.1:6379"
REDIS_PW=""
REDIS_DB="0"

CLICKHOUSE_ADDR="127.0.0.1:9000"
CLICKHOUSE_DB="debug"
CLICKHOUSE_USER="debug"
CLICKHOUSE_PASSWORD=""
CLICKHOUSE_DIAL_TIMEOUT="10"
CLICKHOUSE_MAX_OPEN_CONNS="10"
CLICKHOUSE_MAX_IDLE_CONNS="5"
CLICKHOUSE_CONN_MAX_LIFETIME="3600"

SESSION_SECRET="setOnProducation"
GIN_MODE="debug"
LOG_LEVEL="debug"

DISCOUNT=50
COEFFICIENT=1
